@navigation-level0-item__color: #ffffff;
@navigation-desktop-level0-item__color: #ffffff;
@navigation-level0-item__active__color: #ffffff;
@navigation-level0-item__active__border-color: #ffffff;
@navigation-desktop-level0-item__active__border-color: #ffffff;
@navigation__background: #5C4033;
@header__background-color: #5C4033;